* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    transition: all 0.3s ease;
}
ion-icon {
    transition: fill 0.3s ease;
}
:root {
    --white-box-shadow: 1px 1px 6px #00000014;
    --font-family: Inter, Arial, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	background: #f7f6f6;
	color: #454545;
	font-family: var(--font-family);
    letter-spacing: -0.3px; /* offset the Inter font */
    font-size: 16px;
    line-height: 1.4;
}
p {
    text-align: justify;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline;
    color: #272727;
}

a.white, a.white:hover {
    color: white;
}

a img:hover {
    opacity: 0.95;
}

button {
    font-size: 0.9em;
    padding: 4px;
    font-family: var(--font-family);
}
button:enabled {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

small {
    font-size: .4em
}

input, textarea {
    font-size: 0.9em;
    padding: 4px;
    font-family: var(--font-family);
}

ul li img {
    height: 1em
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em
}

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top: 1rem
}

blockquote author {
    display: block;
    clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style: oblique
}

blockquote author:before {
    content: "- ";
    margin-right: 1em
}

blockquote:before {
    font-family: Times New Roman,Times,Arial;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem
}

blockquote:after {
    content: "";
    display: block;
    clear: both
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.avatar {
    border-radius: 50%;
}
[v-cloak] > * { display:none !important; }
[v-cloak]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url(/static/img/loading.svg);
    background-size: cover;
    left: 50%;
    top: 50%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 180%;
}
ul {
    margin-left: 24px;
}
br.mobile-only {
    display: none;
}
@media (max-width: 768px) {
    br.mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    body {
        text-align: left;
        font-size: 15px;
    }

    blockquote span {
        width: 80%
    }

    blockquote author {
        padding-top: 1em;
        width: 80%;
        margin-left: 15%
    }

    blockquote author:before {
        content: "";
        margin-right: inherit
    }
}

