* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	background: #f7f7fa;
	color: #242428;
}
#content {
	flex: 1 1;
	padding: 8px;
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
#header {
	background: white;
	padding: 8px;
	box-shadow: 0px 1px 1px #00000040;
}
#footer {
	background: #333333;
	color: white;
	padding: 8px;
}
.newsfeed {
	display: flex;
	flex-direction: column;
}

.profile-details__avatar img {
	width: 150px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	top: 50%;
	margin-top: -75px;
}

.profile-details__avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
}

.feed-workout__avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
.feed-workout__avatar img {
	width: 150px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	top: 50%;
	margin-top: -75px;
}
.feed-workout {
	margin: 8px 0;
	padding: 8px;
	background: lightcyan;	
	display: flex;
}
.feed-workout__date {
	font-size: 0.8rem;
	margin-bottom: 4px;
}
.feed-workout__title {
	font-weight: bold;
}
.add-workout {
	display: grid;
	grid-template-areas: 'settings settings settings' 
						 'list add preview'
						 'submit submit submit';
	min-height: 100%;
	width: 100%;
}
.add-workout__list {
	grid-area: list;
}
.add-workout__add {
	grid-area: add;
}
.add-workout__preview {
	grid-area: preview;
}
.add-workout__submit {
	grid-area: submit;
}
.add-workout__settings {
	grid-area: settings;
	padding: 24px;
	background: lightgreen;
}
.exercise-selected {
	font-weight: bold;
}
