
.page-content {
	flex: 1 1;
	padding: 8px;
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.page-header {
	background: #d32f2f;
	color: white;
	padding: 8px;
	box-shadow: 0px 1px 1px #00000040;
	display: flex;
}
.page-header__filler {
	flex: 1 0;
}
.page-header__add {
	margin-right: 8px;
}
.page-header img {
	height: 50px;
	margin-left: 8px;
	margin-right: 8px;
}
.page-header__logo img {
	filter: brightness(0) invert(1);
}
.page-footer {
	background: #333333;
	color: white;
	padding: 8px;
}
.newsfeed {
	display: flex;
	flex-direction: column;
}

.profile-details__avatar img {
	width: 150px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	top: 50%;
	margin-top: -75px;
}

.profile-details__avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
}

.feed-workout__avatar {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
}
.feed-workout__avatar img {
	width: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
}
.feed-workout {
	margin-bottom: 12px;
	padding: 0px;
	background: white;
	display: flex;
	box-shadow: var(--white-box-shadow);
}
.feed-workout__date {
	font-size: 0.8rem;
	margin-bottom: 4px;
}
.feed-workout__title {
	font-weight: bold;
	font-size: 1.1em;
}
.feed-workout__container {
	width: 100%;
	padding: 12px;
}
.feed-workout__reactions {
	margin-top: 8px;
	font-size: 0.9em;
}
.feed-workout__reactions .reaction-button {
	margin-right: 4px;
}
.add-workout {
	display: grid;
	grid-template-areas: 'settings settings settings' 
						 'list add preview'
						 'submit submit submit';
	min-height: 100%;
	width: 100%;
}
.add-workout__list {
	grid-area: list;
}
.add-workout__add {
	grid-area: add;
}
.add-workout__preview {
	grid-area: preview;
}
.add-workout__submit {
	grid-area: submit;
	display: flex;
	flex-direction: column;
}
.add-workout__settings {
	grid-area: settings;
	padding: 24px;
	background: lightgreen;
	display: flex;
}
.add-workout__settings-title {
	flex: 1;
	margin-right: 12px;
}

.add-workout__settings-gym {
	flex: 1;
	margin-left: 12px;
}

.add-workout__settings-title > input {
	width: 100%;
}
.add-workout__error {
	padding: 16px;
	background: lightcoral;
	font-weight: bold;
}
.exercise-selected {
	font-weight: bold;
}
.gym-record img {
	width: 100px;
}
.gym-details img {
	width: 400px;
}
.gym-frequenter img {
	width: 100px;
}
.gym {
	display: flex;
}
.frontpage {
	display: grid;
	grid-template-columns: 240px 4fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "statistics newsfeed" ". newsfeed";
}

.frontpage__statistics {
	grid-area: statistics;
}

.frontpage__newsfeed {
	grid-area: newsfeed;
	padding: 16px;
	padding-top: 0;
}
.statistics-box__avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px;
}
.statistics-box__avatar img {
	max-width: 70px;
}
.statistics-box__name {
	font-weight: bold;
	text-align: center;
}
.statistics-box {
	background: white;
	height: auto;
	padding: 16px;
}
.statistics-box__statistics {
	margin-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid black;
}
.statistics-box__add {
	padding-top: 8px;
	padding-bottom: 8px;
	display: block;
}
.landing-page {
	display: flex;
	flex-direction: row;
}
.exercise-category {
	margin-bottom: 16px;
	padding: 8px;
	padding-bottom: 0;
	padding-top: 0;
}
.exercise-category__exercises {
	margin-left: 24px;
}
.workout-details {
	display: flex;
	flex-direction: row;
	grid-area: details;
	padding: 16px;
	background: white;
	box-shadow: var(--white-box-shadow);
}
.workout-details__title {
	grid-area: title;
}
.workout-details__photo {
	grid-area: photo;
}
.workout-details__date {
	font-style: italic;
}
.workout-details__username {

}
.workout-details__row {
	flex: 1;
	padding-left: 8px;
}
.workout-details__photo img {
	width: 100px;
	display: block;
	margin: auto;
}
.workout-gym__picture img {
	max-width: 480px;
	display: block;
}
.workout-gym__name {
	margin-top: 8px;
	text-align: center;
}
.workout-exercises {
	grid-area: exercises;
	padding: 16px;
	padding-top: 0;
	background: white;
	box-shadow: var(--white-box-shadow);
}
.workout-exercises__header {
	margin-top: 16px;
}
.workout-gym {
	grid-area: gym;
	padding: 8px;
	background: white;
	box-shadow: var(--white-box-shadow);
}
.workout {
	display: grid;
	grid-template-areas: "details details" "exercises gym" "comments comments";
	grid-template-columns: 1fr auto;
	grid-gap: 16px 16px;
}
.workout-comments {
	grid-area: comments;
}
.workout-comments__add {
	padding: 16px;
	padding-top: 0;
	background: white;
	box-shadow: var(--white-box-shadow);
}
.workout-comments__add textarea {
	width: 100%;
}
.comment-none {
	margin-top: 12px;
	font-style: italic;
}
.comment {
	display: flex;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 8px;
	background: white;
	box-shadow: var(--white-box-shadow);
}
.comment img {
	width: 70px; 
}
.comment__main {
	padding: 8px;
}
.comment__created {
	font-style: italic;
}
.reaction-button {
	box-shadow: -1px 2px 5px #0000002b;
	display: inline-block;
	padding: 4px 12px;
	font-weight: 600;
	text-decoration: none;
	background: white;
	color: black !important;
}
.reaction-button:hover {
	box-shadow: -1px 2px 8px #0000003d;
}
.reaction-button.liked {
	background: #cfff6e;
}
.workout-details__reactions {
	margin-top: 8px;
}
.comment.comment--newsfeed {
	margin-top: -12px;
	font-size: 0.9em;
}
.comment.comment--newsfeed img {
	width: 60px;
}